{% extends "list_base.html" %}

{% block content %}

<h1>{{ title }}</h1>

{% for item in items %}
<div class="item">

  {% for key, value in item.items() %}
    {% if key not in not_visible %}
      <p><strong>{{ key }}:</strong> {{ value }}</p>
    {% endif %}
  {% endfor %}

  {% if subcards_by_card_id(item['card_id']) %}
  <p><strong>Категории:</strong></p>
  <p>
    {% for s in subcards_by_card_id(item['card_id']) %}
      <strong>{{ category_by_id(s.category_id).category_name }}:</strong> {{ s.amount }}
    {% endfor %}
  </p>
  {% endif %}

  <p>
    <a href="{{ url_for('manage_card', card_id=item['card_id']) }}"> Управление картой </a>
  </p>

  <form method="post" action="{{ url_for('delete_card', card_id=item['card_id']) }}">
    <button type="submit" card_id="{{ item.card_id }}" card_name="{{item.card_name}}" onclick="return confirm('Вы точно хотите удалить карту?')">🗑 Удалить</button>
  </form>

</div>
{% endfor %}

<a href="{{ url_for('add_card') }}" class="add" style="display:block;margin-bottom:12px;">➕ Добавить карту</a>
<a href="/" class="back">⬅ Назад</a>


{% endblock %}
