{% extends "list_base.html" %}


{% block content %}


<body>
    <h1>{{ title }}</h1>


        {% if base_name == 'cards' %}

            {% for item in items %}

        <div class="item">
            <p><strong>Номер карты:</strong> {{ item['card_number'] }}
            
            <a href="{{ url_for('add_money_card', card_id=item['card_id']) }}">+ Зачислить сюда</a>
            
            </p>

        </div>
            {% endfor %}

            <a href="/" class="back"">⬅ Назад</a>
        {% endif %}


        {% if base_name == 'categories' %}

            {% for item in items %}

        <div class="item">
            <p><strong>Имя категория:</strong> {{ item['category_name'] }}
            
            <a href="{{ url_for('add_money_card_and_category', card_id=card['card_id'], category_id=item['category_id']) }}">+ Зачислить сюда</a>
            
            </p>

        </div>
            {% endfor %}
        
            <a href="{{ url_for('add_money_general') }}" class="back">⬅ Назад</a>
        {% endif %}
  
  </body>
  

{% endblock %}